In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab04.ipynb")

<img style="display: block; margin-left: auto; margin-right: auto" src="./ccsf-logo.png" width="250rem;" alt="The CCSF black and white logo">

# Lab 04 - Functions and Aggregation

## References

* [Sections 8.0 - 7.2 of the Textbook](https://inferentialthinking.com/chapters/08/Functions_and_Tables.html)
* [datascience Documentation](https://datascience.readthedocs.io/)

## Assignment Reminders

- Make sure to run the code cell at the top of this notebook that starts with `# Initialize Otter` to load the auto-grader.
- For all tasks indicated with a üîé that you must write explanations and sentences for, provide your answer in the designated space.
- Throughout this assignment and all future ones, please be sure to not re-assign variables throughout the notebook! _For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Otherwise, you will fail tests that you thought you were passing previously!_
- Collaborating on labs is more than okay -- it's encouraged! You should rarely remain stuck for more than a few minutes on questions in labs, so ask an instructor or classmate for help. (Explaining things is beneficial, too -- the best way to solidify your knowledge of a subject is to explain it.) Please don't just share answers, though.
- View the related <a href="https://ccsf.instructure.com" target="_blank">Canvas</a> Assignment page for additional details.

Run the following cell to set up the lab, and make sure you run the cell at the top of the notebook that initializes Otter.

In [ ]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

# Interactive Widgets
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

## Defining functions

Let's write a very simple function that converts a proportion to a percentage by multiplying it by 100.  For example, the value of `to_percentage(.5)` should be the number 50 (no percent sign).

A function definition has a few parts.

### `def`

It always starts with `def` (short for **def**ine):

``` python
def
```

### Name

Next comes the name of the function.  Like other names we've defined, it can't start with a number or contain spaces. Let's call our function `to_percentage`:

``` python
def to_percentage
```

### Signature

Next comes something called the *signature* of the function.  This tells Python how many arguments your function should have, and what names you'll use to refer to those arguments in the function's code.  A function can have any number of arguments (including 0!). 

`to_percentage` should take one argument, and we'll call that argument `proportion` since it should be a proportion.

``` python
def to_percentage(proportion)
```

If we want our function to take more than one argument, we add a comma between each argument name. Note that if we had zero arguments, we'd still place the parentheses () after than name. 

We put a colon after the signature to tell Python it's over. If you're getting a syntax error after defining a function, check to make sure you remembered the colon!

``` python
def to_percentage(proportion):
```

### Documentation

Functions can do complicated things, so you should write an explanation of what your function does.  For small functions, this is less important, but it's a good habit to learn from the start.  Conventionally, Python functions are documented by writing an **indented** triple-quoted string:

``` python
def to_percentage(proportion):
    """Converts a proportion to a percentage."""
```

### Body

Now we start writing code that runs when the function is called.  This is called the *body* of the function and every line **must be indented with a tab or 4 spaces**.  Any lines that are *not* indented and left-aligned with the def statement is considered outside the function. 

Some notes about the body of the function:
- We can write code that we would write anywhere else.  
- We use the arguments defined in the function signature. We can do this because we assume that when we call the function, values are already assigned to those arguments.
- We generally avoid referencing variables defined *outside* the function. If you would like to reference variables outside of the function, pass them through as arguments!


Now, let's give a name to the number we multiply a proportion by to get a percentage:

``` python
def to_percentage(proportion):
    """Converts a proportion to a percentage."""
    factor = 100
```

### `return`

The special instruction `return` is part of the function's body and tells Python to make the value of the function call equal to whatever comes right after `return`.  We want the value of `to_percentage(.5)` to be the proportion .5 times the factor 100, so we write:

``` python
def to_percentage(proportion):
    """Converts a proportion to a percentage."""
    factor = 100
    return proportion * factor
```
        
`return` only makes sense in the context of a function, and **can never be used outside of a function**. If present, `return` is always the last line of the function because Python stops executing the body of a function once it hits a `return` statement.

*Note:*  `return` inside a function tells Python what value the function evaluates to. However, there are other functions, like `print`, that have no `return` value. For example, `print` simply prints a certain value out to the console. 

`return` and `print` are **very** different.

### Task 01 üìç

1. Define `to_percentage` in the cell below.
2. Call your function to convert the proportion 0.2 to a percentage and name the output `twenty_percent`.

In [ ]:
def ...
    """"
    Converts a proportion to a percentage.
    
    >>> to_percentage(0.25)
    25.0
    """
    return ...
    
twenty_percent = ...
twenty_percent

In [ ]:
grader.check("task_01")

Like you‚Äôve done with built-in functions in previous labs (max, abs, etc.), you can pass in named values as arguments to your function.

### Task 02 üìç

Use `to_percentage` again to convert the proportion named `a_proportion` (defined below) to a percentage called `a_percentage`.

*Note:* You don't need to define `to_percentage` again!  Like other named values, functions stick around after you define them.

In [ ]:
a_proportion = 2 ** (0.5) / 2
a_percentage = ...
a_percentage

In [ ]:
grader.check("task_02")

Here's something important about functions: the names assigned *within* a function body are only accessible within the function body. Once the function has returned, those names are gone.  So even if you created a variable called `factor` and defined `factor = 100` inside of the body of the `to_percentage` function and then called `to_percentage`, `factor` would not have a value assigned to it outside of the body of `to_percentage`.

As we've seen with built-in functions, functions can also take strings (or arrays, or tables) as arguments, and they can return those things, too.

### Task 03 üìç

Define a function called `disemvowel`.  It should take a single string as its argument.  (You can call that argument whatever you want.)  It should return a copy of that string, but with all the characters that are vowels removed.  (In English, the vowels are the characters "a", "e", "i", "o", and "u".) You can use as many lines inside of the function to do this as you‚Äôd like.

*Hint:* To remove all the "a"s from a string, you can use `that_string.replace("a", "")`.  The `.replace` method for strings returns a new string, so you can call `replace` multiple times, one after the other.

In [ ]:
def disemvowel(a_string):
    """
    Removes all vowels from a string.
    
    >>> disemvowel('datascience')
    'dtscnc'
    """ 
    ...

# Checking to see if your function works for an example string.
disemvowel("Can you read this without vowels?")

In [ ]:
grader.check("task_03")

### Calls on calls on calls

Just as you write a series of lines to build up a complex computation, it's useful to define a series of small functions that build on each other.  Since you can write any code inside a function's body, you can call other functions you've written.

If a function is a like a recipe, defining a function in terms of other functions is like having a recipe for cake telling you to follow another recipe to make the frosting, and another to make the jam filling.  This makes the cake recipe shorter and clearer, and it avoids having a bunch of duplicated frosting recipes.  It's a foundation of productive programming.

For example, suppose you want to count the number of characters *that aren't vowels* in a piece of text.  One way to do that is this to remove all the vowels and count the size of the remaining string.

### Task 04 üìç

Write a function called `num_non_vowels`.  It should take a string as its argument and return a number.  That number should be the number of characters in the argument string that aren't vowels. You should use the `disemvowel` function you wrote above inside of the `num_non_vowels` function.

*Hint:* The function `len` takes a string as its argument and returns the number of characters in it.

In [ ]:
def num_non_vowels(a_string):
    """
    The number of characters in a string, minus the vowels.
    
    >>> num_non_vowels('datascience')
    
    6
    """
    ...

# Try running an example function call of num_non_vowels below to test out your code.
...

In [ ]:
grader.check("task_04")

Functions can also encapsulate code that *displays output* instead of computing a value. For example, if you call `print` inside a function, and then call that function, something will get printed.

The `top_movies_1995_2022.csv` dataset has information about movie sales in recent years.  Suppose you'd like to display the year with the 5th-highest total gross (adjusted) movie sales, printed in a human-readable way.  You might do this:

In [ ]:
movies_by_year = Table.read_table("top_movies_1995_2022.csv")
k = 5
fifth_from_top_movie_year = movies_by_year.sort("Total Gross (Adjusted)", descending=True).column("Year").item(k-1)
print("Year number", k, "for total gross movie sales was:", fifth_from_top_movie_year)

After writing this, you realize you also wanted to print out the 2nd and 3rd-highest years.  Instead of copying your code, you decide to put it in a function.  Since the rank varies, you make that an argument to your function.

### Task 05 üìç

Write a function called `print_kth_top_movie_year`.

* It should take a single argument, `k`, the rank of the year (like 2, 3, or 5 in the above examples).  
* It should print out a message like the one above.  So, rather than a `return` statement, your function will have a `print` statement at the end.

In [ ]:
...
    print(...)

...

# Try running an example function call below with k = 2 to test out your code.
print_kth_top_movie_year(2)

In [ ]:
grader.check("task_05")

`interact` from the `ipywidgets` module allows you to pass in an array for a function argument. It will then present a dropdown menu of options. Run the following cell to see how it works.

`interact` produces an output that isn't helpful in this context. Some people use a symbol like the underscore `_` for the name of something that produces an unwanted output to prevent form showing.

In [ ]:
_ = interact(print_kth_top_movie_year, k=np.arange(1, 10))

### `print` is not the same as `return`

The `print_kth_top_movie_year(k)` function prints the total gross movie sales for the year that was provided! However, since we did not return any value in this function, we can not use it after we call it. Let's look at an example of another function that prints a value but does not return it.

In [ ]:
def print_number_five():
    print(5)

In [ ]:
print_number_five()

However, if we try to use the output of `print_number_five()`, we see that the value `5` is printed but we get a TypeError when we try to add the number 2 to it!

<img src="./nonetype_error.png" alt="The TypeError seen when using the named output of print statement.">

It may seem that `print_number_five()` is returning a value, 5. In reality, it just displays the number 5 to you without giving you the actual value! If your function prints out a value without returning it and you try to use that value, you will run into errors, so be careful!

Explain to your neighbor how you might add a line of code to the `print_number_five` function (after `print(5)`) so that the code `print_number_five_output + 5` would result in the value `10`, rather than an error.

## Functions and CEO Incomes

In this question, we'll look at the 2015 compensation of CEOs at the 100 largest companies in California. The data was compiled from a [Los Angeles Times analysis](http://spreadsheets.latimes.com/california-ceo-compensation/), and ultimately came from [filings](https://www.sec.gov/answers/proxyhtf.htm) mandated by the SEC from all publicly-traded companies. Two companies have two CEOs, so there are 102 CEOs in the dataset.

We've copied the raw data from the LA Times page into a file called `raw_compensation.csv`. (The page notes that all dollar amounts are in **millions of dollars**.)

In [ ]:
raw_compensation = Table.read_table('raw_compensation.csv')
raw_compensation

Computing the average of the CEOs' pay might seem like a simple task, but there are some issues with this data that make that task a bit challenging. View the error produced from the following code:

<img src="./totalpay_error.png" alt="The UFuncTypeError the occurs from running np.average(raw_compensation.column('Total Pay'))">

Let's examine why this error occurred by looking at the values in the `Total Pay` column.

### Task 06 üìç

Use the `type` function and set `total_pay_type` to the type of the first value in the "Total Pay" column.

In [ ]:
total_pay_type = ...
total_pay_type

In [ ]:
grader.check("task_06")

### Task 07 üìç

You should have found that the values in the `Total Pay` column are strings. It doesn't make sense to take the average of string values, so we need to convert them to numbers if we want to do this. Extract the first value in `Total Pay`.  It's Mark Hurd's pay in 2015, in *millions* of dollars.  Call it `mark_hurd_pay_string`.

In [ ]:
mark_hurd_pay_string = ...
mark_hurd_pay_string

In [ ]:
grader.check("task_07")

### Task 08 üìç

Convert `mark_hurd_pay_string` to a number of *dollars*. 

Some hints, as this question requires multiple steps:
- The string method `strip` will be useful for removing the dollar sign; it removes a specified character from the start or end of a string.  For example, the value of `"100%".strip("%")` is the string `"100"`.  
- You'll also need the function `float`, which converts a string that looks like a number to an actual number.  
- Finally, remember that the answer should be in dollars, not millions of dollars.

In [ ]:
mark_hurd_pay = ...
mark_hurd_pay

In [ ]:
grader.check("task_08")

To compute the average pay, we need to do this for every CEO.  But that looks like it would involve copying this code 102 times.

This is where functions come in.  First, we'll define a new function, giving a name to the expression that converts "total pay" strings to numeric values.  Later in this lab, we'll see the payoff: we can call that function on every pay string in the dataset at once.

The next section of this lab explains how to define a function For now, just fill in the ellipses in the cell below.

### Task 09 üìç

Copy the expression you used to compute `mark_hurd_pay`, and use it as the return expression of the function below. But make sure you replace the specific `mark_hurd_pay_string` with the generic `pay_string` name specified in the first line in the `def` statement.

*Hint*: When dealing with functions, you should generally not be referencing any variable outside of the function. Usually, you want to be working with the arguments that are passed into it, such as `pay_string` for this function. If you're using `mark_hurd_pay_string` within your function, you're referencing an outside variable!

In [ ]:
def convert_pay_string_to_number(pay_string):
    """
    Converts a pay string like '$100' (in millions) to a number of
    dollars.
    
    >>> convert_pay_string_to_number("$100 ")
    100000000.0
    """
    ...

In [ ]:
grader.check("task_09")

Running that cell doesn't convert any particular pay string. Instead, it creates a function called `convert_pay_string_to_number` that can convert *any* string with the right format to a number representing millions of dollars.

We can call our function just like we call the built-in functions we've seen. It takes one argument -- a string -- and it returns a float.

In [ ]:
convert_pay_string_to_number('$42')

In [ ]:
convert_pay_string_to_number(mark_hurd_pay_string)

We can also compute Safra Catz's pay in the same way. Run the following cell to see the results.

In [ ]:
convert_pay_string_to_number(raw_compensation.where("Name", are.containing("Safra")).column("Total Pay").item(0))

So, what have we gained by defining the `convert_pay_string_to_number` function? 
Well, without it, we'd have to copy the code `10**6 * float(some_pay_string.strip("$"))` each time we wanted to convert a pay string.  Now we just call a function whose name says exactly what it's doing.

## `apply`ing functions

Defining a function is a lot like giving a name to a value with `=`.  In fact, a function is a value just like the number 1 or the text "data"!

For example, we can make a new name for the built-in function `max` if we want:

In [ ]:
our_name_for_max = max
our_name_for_max(2, 6)

The old name for `max` is still around:

In [ ]:
max(2, 6)

Try just writing `max` or `our_name_for_max` (or the name of any other function) in a cell, and run that cell.  Python will print out a (very brief) description of the function.

In [ ]:
max

Now try writing `?max` or `?our_name_for_max` (or the name of any other function) in a cell, and run that cell.  A information box should show up at the bottom of your screen a longer description of the function

*Note: You can also press Shift+Tab after clicking on a name to see similar information!*

In [ ]:
?our_name_for_max

Let's look at what happens when we set `max`to a non-function value. You'll notice that a TypeError will occur when you try calling `max`. Things like integers and strings are not callable. Look out for any functions that might have been renamed when you encounter this type of error

<img src="./rename_function_error.png" alt="The TypeError that occurs when max is used to name a value and then used as a function.">

The following cell resets `max` to the built-in function. Just run this cell to reset `max` just in case you changed it.

In [ ]:
#Just run this cell, don't change its contents
import builtins
max = builtins.max

Why is this useful?  Since functions are just values, it's possible to pass them as arguments to other functions.  Here's a simple but not-so-practical example: we can make an array of functions.

In [ ]:
make_array(max, np.average, are.equal_to)

Working with functions as values can lead to some funny-looking code. For example, see if you can figure out why the following code works. Check your explanation with a neighbor or a staff member.

In [ ]:
make_array(max, np.average, are.equal_to).item(0)(4, -2, 7)

A more useful example of passing functions to other functions as arguments is the table method `apply`.

`apply` calls a function many times, once on *each* element in a column of a table.  It produces an *array* of the results.  Here we use `apply` to convert every CEO's pay to a number, using the function you defined:

In [ ]:
raw_compensation.apply(convert_pay_string_to_number, "Total Pay")

Here's an illustration of what that did:

<img src="./apply.png"/>

Note that we didn‚Äôt write `raw_compensation.apply(convert_pay_string_to_number(), ‚ÄúTotal Pay‚Äù)` or `raw_compensation.apply(convert_pay_string_to_number(‚ÄúTotal Pay‚Äù))`. We just passed the name of the function, with no parentheses, to `apply`, because all we want to do is let `apply` know the name of the function we‚Äôd like to use and the name of the column we‚Äôd like to use it on. `apply` will then call the function `convert_pay_string_to_number` on each value in the column for us!

### Task 10 üìç

Using `apply`, make a table that's a copy of `raw_compensation` with one additional column called `Total Pay ($)`.  That column should contain the result of applying `convert_pay_string_to_number` to the `Total Pay` column (as we did above).  Call the new table `compensation`.

In [ ]:
compensation = raw_compensation.with_column(
    "Total Pay ($)",
    ...
    ) 
compensation

In [ ]:
grader.check("task_10")

Now that we have all the pays as numbers, we can finally calculate the average from early.

### Task 11 üìç

Compute the average total pay of the CEOs in the dataset.

In [ ]:
average_total_pay = ...
average_total_pay

In [ ]:
grader.check("task_11")

### Why is `apply` useful?

For operations like arithmetic, or the functions in the NumPy library, you don't need to use `apply`, because they automatically work on each element of an array.  But there are many things that don't.  The string manipulation we did in today's lab is one example.  Since you can write any code you want in a function, `apply` gives you total control over how you operate on data.

## Joining Tables

There are a  variety of reasons why data might be stored across multiple tables, and it might be necessary to combining data from 2 or more sources into one table. Think of joining tables like mixing ingredients to create a delicious recipe! When we use methods like `join` in the `datascience` Python library, we're basically combining different sets of data based on something they have in common, just like adding various ingredients to make a yummy dish. This helps us get a bigger picture of the data and discover exciting insights by bringing together information from different sources, making data analysis a bit like cooking up a data stew! üç≤üîç

For example, you might have customer data in two different tables. 

* A table called `customers` might contain contact information.
* A table called `purchase_history` might contain information on the customer's last purchase.

Run the following code cell to create examples of such tables.

In [ ]:
customers = Table().with_columns(
    'Name', ['Alice Johnson', 'Mohammed Khan', 'Maria Garc√≠a', 'Ling Chen'],
    'Email', ['alice@example.com', 'mohammed@example.com', 'maria@example.com', 'ling@example.com'],
    'Customer ID', [1, 2, 3, 4]
)

purchase_history = Table().with_columns(
    'Customer Number', [1, 3, 4, 5, 1, 4, 4],
    'Product', ['Widget', 'Gadget', 'Doodad', 'Thingamajig', 'Gadget', 'Widget', 'Doodad'],
    'Ad', ['Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes'],
    'Amount ($)', [10, 15, 8, 12, 15, 10, 8]
)

display(customers)
display(purchase_history)

You might want to put all this information in one table to more easily analyze the data or follow up with a customer about one of their purchases. The key to joining data is that there must be a clearly defined relation between the two tables. In this case, the link between the tables is the customer identification number. Customer 1, Alice Johnson (alice@example.com) has purchased a Widget for 10 dollars and a Gadget for 15 dollars. Both purchases were made through an advertisement link.

To use the join method from the `datascience` library, you'll typically have two tables, let's call them `tbl1` and `tbl2`, and you want to combine them based on a common key. Let's say that the key values are located in `'Column 1'` for `tbl1` and `'Column 2'` for `tbl2`.

You could use `tbl1.join('Column 1', tbl2, 'Column 2')` to join these tables together, aligning rows with matching key values in `'Column 1'` and `'Column 2'` into a single table where the focus is placed on the column of `tbl1`.
If you used `tbl2.join('Column 2', tb1, 'Column 1')`, you would also create a joined table, but the output would likely be different as the table would be created from the perspective of the column in `tbl2`.

### Task 12 üìç

Complete the following code to join the data in the `purchase_history` table with the data in the `customers` table. The resulting table should have 6 rows and the 6 columns `'Customer ID', 'Name', 'Email', 'Product', 'Ad', 'Amount ($)'`.

In [ ]:
customer_data = customers.join(..., ..., ...)
customer_data

In [ ]:
grader.check("task_12")

There are a few things to notice about how this `join` method worked. 
* Since you started with `customers`, it kept all the column labels of the `customers` table.
* The `'Customer ID'` column was brought to the front of the table.
* The columns in `purchase_history` that were not used to join the data (`'Ad'` and `'Amount ($)'`) were added to the end of the table.
* The label `'Customer Number'` doesn't appear in the resulting table.
* There is no customer contact data for customer number 5 so that information is missing from the joined table.
* Customer with ID 2 does not have any purchase history so that information is missing from the joined table.

## Aggregation

Aggregation refers to the process of summarizing and condensing large datasets into more manageable and meaningful insights. You've seen this in action through using functions like `np.average` and `np.sum`. In the context of the `datascience` library, more advanced aggregation can be achieved using table methods like `group` and `pivot`. 

* The `group` method allows you to group data by specific criteria, such as categories or attributes, and then apply aggregation functions (e.g., `sum`, `mean`, etc.) to calculate summary statistics within each group.
* Pivot tables with the `pivot` method, on the other hand, enable you to restructure data to create a compact summary table, making it easier to analyze relationships between variables.

These methods are essential for extracting valuable information and patterns from complex datasets.

### Group

The `group` table method has the general format `tbl.group(column_or_label, collect)`. You've worked with the group method without providing a function name for `collect`. The `collect` argument gives you a place to specify a function that you want to apply to all the values associated with the grouped labels.  

By default, the `group` method counts up the number of rows in the table associated with the grouped values for the specified column. If you wanted to do something else besides counting the number of rows, then you'd provide a function name for `collect`. For example, `tbl.group('Column Label', np.min)` would apply the minimum function to all the grouped data based on the category values in the column `'Column Label'`. 

Run the following code to see how this works when we apply `np.min` to the grouped data from the previous task based on `'Name'` values.

In [ ]:
customer_data.group('Name', np.min)

It is important to know a few things about how using `group` with a collect function works.
* The `np.min` function attempted to apply to every column of the table other than `'Name'`. In this case, if the column contains numerical values, it will return the minimum of the grouped values for each row. If the column doesn't contain numerical values, then it will return an empty value (The empty string `''` for example).
* The columns of the resulting table will be `'Name'` and a column for each of the other columns in `customer_data` with the function name `min` added to the end of the label.

You can reduce the number of columns using `select` or `drop` before you use the group method to get a more presentable table.

### Task 13 üìç

Using the `customer_data` table, create a table called `customer_averages` that shows the name and average purchase amount for each customer in the `customer_data` table. Your resulting table should have 3 rows and 2 columns.

In [ ]:
customer_averages = ...
customer_averages

In [ ]:
grader.check("task_13")

Now that you have the purchase amount averages by customer, you might also further break down this summary by find the customer averages through purchases made from advertisements or not.

You can group by more than 1 column using the `group` method by providing a list of column labels or indexes for the first argument of `group`. The format would be `tbl.group(['Label 1', 'Label 2'], collect)`. This would create a table for each unique grouping of values from both columns and calculate the averages for the grouped data.

### Task 14 üìç

Using the `customer_data` table, create a 4-row and 3-column table called `customer_ad_averages` that contains a row for each combination of customer name and ad (Yes/No) pairing along with the average purchase amount. The labels should be `'Name', 'Ad', and 'Amount ($) average'`.

**Tip**: Don't forget that you will probably want to reduce the `customer_data` table to the relevant columns first.

In [ ]:
customer_ad_averages = ...
customer_ad_averages

In [ ]:
grader.check("task_14")

You should see that customer Ling Chen spends about 1 dollar more on average for purchases made through advertisements compared to purchases not made through advertisements. This is a small example of the more detailed analysis you can provide when aggregating your data across multiple categories.

### Pivot

A pivot table provides the same information as you get from grouping by two columns, but the format is slightly different. 

Here are a few examples where using pivot over group can be advantageous:

* Pivot tables are excellent for creating summary tables. If your goal is to create a structured summary table with row and column headers that represent specific categories, pivot is often more straightforward to use.
* If your primary goal is to visualize data, pivot tables can be more useful. The resulting grid structure from a pivot table can be directly used in data visualization tools or libraries for creating bar charts or other visual representations of your data.
* Pivot tables in the `datascience` library handle missing values differently compared with `group`. When using `pivot`, a placeholder of some kind is provided for missing combinations of values. On the other hand, `group` will leave out any missing combinations of values from the table.

The first two arguments of `pivot` are important. 
* The first argument specifies the column where the pivot table column values will come from.
* The second argument will specify the column where the pivot table row values in the first column come from.

By default, the values inside the table come from the counts of how often the pair of column and row values occur in the data set.

For example, run the following cell  to see the pivot table showing the number of purchases made by each customer through an advertisement or not. Notice that the `'Ad'` values appear as column labels.

In [ ]:
customer_data.pivot('Ad', 'Name')

You can go further by specifying a third and fourth argument: `values` and `collect`. `values` represents the column in the table for which the `collect` function will be applied to create the values inside the pivot table.

### Task 15 üìç

Using the `customer_data` table, create a pivot table `ad_name_pivot` that has a row for each customer name, a column for the `'Yes'` and `'No'` `'Ad'` values, and the average purchase amount for each pairing of customers and purchases made through advertisements or not. You won't need to reduce the `customer_data` table like you needed to do in previous tasks. This is another benefit of the `pivot` method!

**Hint**: Use `'Amount ($)'` for the values and `'np.average'` for the collect function.

In [ ]:
ad_name_pivot = ...
ad_name_pivot

In [ ]:
grader.check("task_15")

As you can see there are a lot of ways to organize and summarize data in a table. You'll gain a lot of experience with using the tools in this lab throughout the semester.

## Submit your Lab to Canvas

Once you have finished working on the lab questions, prepare to submit your work in Canvas by completing the following steps.

1. In the related Canvas Assignment page, check the requirements for a Complete score for this lab assignment.
2. Double-check that you have run the code cell near the end of the notebook that contains the command `grader.check_all()`. This command will run all of the run tests on all your responses to the auto-graded tasks marked with üìç.
3. Double-check your responses to the manually graded tasks marked with üìçüîé.
4. Select the menu items `File`, `Save and Export Notebook As...`, and `Html_embed` in the notebook's Toolbar to download an HTML version of this notebook file.
5. In the related Canvas Assignment page, click Start Assignment or New Attempt to upload the downloaded HTML file.

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()